
{% extends 'photomgr/base.html' %}

{% block title%}Henkenkunst - schilderijen aanpassen{%endblock%}

{% block content %}


<div class="container">
 
	 <div class="myContact">
	 </div>

	 <div class="myContactText Bellefair">
 	 <h1 >Welkom op HenkenKunst, de website van Fiore Henken</h1>
	 Er zijn vele variaties van passages van Lorem Ipsum beschikbaar maar het merendeel heeft te lijden gehad van wijzigingen in een of andere vorm, door ingevoegde humor of willekeurig gekozen woorden die nog niet half geloofwaardig ogen. Als u een passage uit Lorum Ipsum gaat gebruiken dient u zich ervan te verzekeren dat er niets beschamends midden in de tekst verborgen zit. Alle Lorum Ipsum generators op Internet hebben de eigenschap voorgedefinieerde stukken te herhalen waar nodig zodat dit de eerste echte generator is op internet. Het gebruikt een woordenlijst van 200 latijnse woorden gecombineerd met een handvol zinsstructuur modellen om een Lorum Ipsum te genereren die redelijk overkomt. De gegenereerde Lorum Ipsum is daardoor altijd vrij van herhaling, ingevoegde humor of ongebruikelijke woorden etc.
	  </div>


</div>




 






{% endblock %}