
{% extends 'photomgr/base.html' %}

{% block title%}Henkenkunst - schilderijen aanpassen{%endblock%}

{% block content %}

<style>



</style>

<div class="container myOverview">


  
	<h1 class="Bellefair" align="center">Hier ziet u het overzicht van alle schilderijen</h1>


  {% for schilderij in schilderijen %}

  <div class="responsive">
  <div class="gallery">
    <div class ="gallery-image" data_src="{{schilderij.image.url}}" data-toggle="modal" data-target="#myModal">
    </div>

    <div class="desc Bellefair">
      <p class="myDesc">{{schilderij.beschrijving}}</p>
      <p>{{schilderij.formaat}}</p>
    </div>

  </div>
</div>


  {% endfor %}

</div> <!-- container -->
<br>
<!-- Image popup -->



<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <img src="//placehold.it/1000x600" class="img-responsive" id="modalimg">
        </div>
    </div>
  </div>
</div>






<script type="text/javascript">

	$( ".gallery-image" ).each(function( index ) {
	   // console.log("url(\"" + $( this ).attr("data_src") + "\")")
      $( this ).css("background-image","url(\"" + $( this ).attr("data_src") + "\")")

	});

  //SHow large image on click
  $( ".gallery-image" ).click(function() {
    $ ( '#modalimg' ).attr('src',$( this ).attr("data_src"))
    $ ( '#modalimg' ).css('width','700')


   // alert($( this ).attr("data_src"))
  });

  // Pointing finger on mouse over image
   $('.gallery').hover(function() {
        $(this).css('cursor','pointer');
    });


  $( ".myOverviewRow" ).each(function( index ) {
     // console.log("url(\"" + $( this ).attr("data_src") + "\")")
      $( this ).height(200)

  });





</script>

{% endblock %}